* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

body {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#color-palette {
  
  width: 800px;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  border: 1px solid black;
  padding: 0 0.25em;
  width: 70px;
  height: 70px;
  margin: 0 1em;
}

.um {
  background: #000000;
}

.dois {
  background: #d99292;
}

.tres {
  background: #d6e22d;
}

.quatro {
  background: #06dd60;
}

#pixel-board {
  --size: 5;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  grid-template-rows: repeat(var(--size), 1fr);
  gap: 3px;
  padding: 3px;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 2px;
  border: 1px solid black;

}

#clear-board {
height: 35px;
padding: 0 6.5em;
}

#board-size, #generate-board {
  height: 35px;
  padding: 0 0.1em;
}