* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#color-palette {
  background-color: rgb(118, 118, 181);
  width: 800px;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 0 .25em;
  width: 70px;
  height: 70px;
  margin: 0 1em;
}

#pixel-board {
    --size: 5;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 3px;
    padding: 3px;

}

.pixel {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 2px;

}
